doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title festappWeb
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1')
        link(rel='stylesheet', href='css/styles.css')
    body(ng-app='festappWeb')
        h1 Welcome to Boom Angular.js Generator!

        div(ng-view='ng-view')

        script(type='text/javascript', src='js/_bower.min.js')
        script(type='text/javascript', src='js/all.js')
        //- endbuild
