doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title festapp
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1')
        link(rel='stylesheet', href='css/styles.css')
    body(ng-app='festapp')
        header
            h1.ui.header.aligned.center OpenFestival
            nav.ui.menu.inverted
                a.item(href='/') Home
        h1.ui.header Welcome to Boom Angular.js Generator!

        div(ng-view='ng-view')

        script(type='text/javascript', src='js/_bower.min.js')
        script(type='text/javascript', src='js/all.js')
        //- endbuild
